/*-----Import--------*/
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  font-family: "roboto";
}

footer {
  background: rgb(47, 46, 46);
  padding: 20px 0 20px 0;
}

.fonctionnement {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn-menu {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.restaurants ul {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.fonctionnement__btn__icon {
  color: #888;
}

/******header*****/
.logo {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Shrikhand";
  position: relative;
}

/********Search*******/
.localisation__ville {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px #888;
  background: rgb(234, 228, 228);
  padding: 20px 20px 20px 0px;
  gap: 15px;
  font-size: 20px;
}
.localisation__restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 2px #888;
  background: rgb(250, 245, 245);
}
.localisation__restaurant__title {
  font-size: 25px;
}
.localisation__restaurant__subtitel {
  font-size: 18px;
  font-weight: 300;
}
.localisation__restaurant__btn {
  padding: 15px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  color: hwb(0 100% 0%);
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 30px 0;
  width: 270px;
}

/****Fonctionnemnt***/
.fonctionnement ul {
  display: flex;
  gap: 25px;
}
.fonctionnement h2 {
  margin: 40px 0 30px -14px;
}
.fonctionnement__btn {
  box-shadow: 0px 0px 2px #888;
  padding: 20px 20px 20px 30px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 15px;
  background: rgb(250, 245, 245);
  width: 100%;
  position: relative;
  font-family: "roboto";
  cursor: pointer;
}
.fonctionnement__btn__icon {
  padding-right: 20px;
}
.fonctionnement__btn__chiffre i {
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.7em;
  width: 8px;
  border-radius: 60%;
  background: #9356dc;
  position: absolute;
  left: -14px;
  bottom: 15px;
  font-size: 15px;
  color: hwb(0 100% 0%);
}
.fonctionnement__btn__chiffre .fa-3,
.fonctionnement__btn .fa-2,
.fonctionnement__btn .fa-1 {
  display: flex;
  justify-content: center;
}

/*************restaurants**************/
h3 {
  margin-left: 5.5%;
  padding: 30px 0 15px 0;
  font-size: 25px;
}

ul .separation {
  display: flex;
}

.restaurants {
  background: rgb(250, 245, 245);
  padding-bottom: 50px;
  margin-top: 60px;
}
.restaurants__photo li {
  width: 47%;
  border-radius: 15px;
}
.restaurants__photo .separation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.restaurants__image {
  display: flex;
  justify-items: end;
  justify-content: end;
}
.restaurants__image img {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.restaurants__nouvelle__carte {
  background: #99E2D0;
  color: rgb(4, 121, 4);
  position: absolute;
  padding: 12px;
  margin: 12px;
  font-weight: bold;
}

.cover__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 70px;
  color: rgb(0, 0, 0);
  background: hwb(0 100% 0%);
  border-radius: 0 0 15px 15px;
}
.cover__content__coeur {
  font-size: 30px;
  position: relative;
  right: 5%;
}
.cover__content__stitre {
  font-weight: bold;
  font-size: 20px;
}
.cover__content__arrondissement {
  font-size: 18px;
}

/*****footer*****/
.footer {
  margin-left: 5.5%;
}
.footer-restaurant {
  padding: 16px;
}
.footer-partenaire {
  padding: 10px;
}
.footer span {
  color: hwb(0 100% 0%);
}
.footer-log img {
  filter: brightness(0) invert(1);
  margin-bottom: 20px;
}

/***les pages menu****/
.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  left: 2%;
}

.page__grise {
  background: rgb(250, 245, 245);
  padding-bottom: 5px;
}
.page__grise__cover__titre {
  transform: translateY(-40px);
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 70px;
  color: rgb(0, 0, 0);
  background: rgb(250, 245, 245);
}
.page__grise__cover__coeur {
  display: flex;
  width: 95%;
}
.page__grise__titre {
  font-weight: bold;
  font-size: 30px;
  font-family: "Shrikhand";
  width: 100%;
  margin-left: 5%;
  position: relative;
}
.page__grise__coeur1 {
  font-size: 30px;
  position: absolute;
  right: 6%;
}
.page__grise__coeur2 {
  position: absolute;
  font-size: 30px;
  right: 6%;
  color: #ff79da;
  visibility: hidden;
}
.page__grise__coeur2::before {
  content: "";
  transition: color 1s ease-out;
}
.page__grise__coeur2 a:hover {
  color: #ff79da;
  visibility: visible;
}

.page__menu {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.page__menu ul {
  display: flex;
  gap: 25px;
}
.page__menu__menu {
  font-weight: 300;
  font-size: 20px;
  padding: 10px 0 10px 0;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  margin: 40px 0 25px 0;
}
.page__menu__carte {
  box-shadow: 0px 0px 2px #888;
  padding: 20px 20px 20px 30px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 15px;
  background: hwb(0 100% 0%);
  width: 100%;
  font-family: "roboto";
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.page__menu__titre {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page__menu__stitre {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page__menu p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page__menu__mony {
  font-weight: bold;
}

.bouton {
  margin: 40px 0 50px 0;
  display: flex;
  justify-content: center;
}
.bouton__commander {
  padding: 12px 20px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  color: hwb(0 100% 0%);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin-top: 30px;
}

/*--responsive version tablette--*/
@media (max-width: 992px) {
  .localisation__restaurant__title {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .localisation__restaurant__subtitel {
    width: 85%;
    display: flex;
    justify-content: center;
  }
  .fonctionnement ul {
    display: flex;
    flex-direction: column;
  }
  .fonctionnement__btn {
    width: auto;
  }
  .restaurants__photo li {
    width: 100%;
  }
  .page__menu ul {
    display: flex;
    flex-direction: column;
  }
  .page__menu ul li {
    width: auto;
  }
}
/*--responsive version mobile--*/
@media (max-width: 767px) {
  .fonctionnement ul {
    display: flex;
    flex-direction: column;
  }
  .fonctionnement__btn {
    width: auto;
  }
  .restaurant__photo li {
    width: 100%;
  }
  .page__grise__titre {
    font-size: 25px;
  }
  .page__menu ul {
    display: flex;
    flex-direction: column;
  }
  .page__grise__coeur1 {
    font-size: 28px;
  }
}
